/* For mobile phones: */
@media only screen and (min-width: 300px) {
  /* For mobile: */
  .col1 {width: 100%;}

  .img1 {width: 35%;}
  .img2 {margin-top: 8%; margin-bottom: 5%; width: 75%;}

  .modal {top: 15% !important}
  .modal2 {top: 15% !important}
  .modal3 {top: 15.5% !important}
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .img-s-1 {width: 25%;}
  .img-s-2 {margin-top: 5%; margin-bottom: 5%; width: 60%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .img-1 {width: 12%;}
  .img-2 {margin-top: 3%; margin-bottom: 2%; width: 27%;}

  .modal {top: 25% !important}
  .modal2 {top: 20% !important}
  .modal3 {top: 25.5% !important}

  .modal-dialog {max-width: 600px;}
}

@media only screen and (min-width:  1300px){
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}

  .img-xl-1 {width: 12%;}
  .img-xl-2 {margin-top: 3%; margin-bottom: 2%; width: 27%;}
}

.formmodal-container {
  padding: 15px;
  max-width: 600px;
  width: 100% !important;
  background-color: #EDE7F6;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: Roboto;
}

.formmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: Roboto;
  color: #311B92;
}

.formmodal-container p, .labelForm {
  font-family: Roboto;
  color: #311B92;
}

.formmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}


.formmodal-container input[type=text]{
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container select {
  height: 30px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=date], input[type=tel] {
  height: 30px;
  font-size: 14px;
  width: 36%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=email] {
  height: 30px;
  font-size: 14px;
  width: 59%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 59%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=text]:hover, input[type=password]:hover, 
input[type=date]:hover, input[type=tel]:hover, input[type=email]:hover, select:hover{
  border: 1px solid #9575CD;
  border-top: 2px solid #5E35B1;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.registro-submit, .recuperarcontrasena-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4527A0;
  padding: 17px 0px;
  font-family: Roboto;
  font-size: 14px;
  cursor: pointer;
}

.registro-submit:hover, .recuperarcontrasena-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #673AB7;
}

.formmodal-container a {
  text-decoration: none;
  color: #673AB7;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 


.modal-dialog{
  pointer-events: visible !important;
}

form fieldset {
  width: 100%;
  border: 2px solid #311B92;
  color: #311B92;
  font-family: Roboto;
  display: inline;
  padding: 0.5em;
}

form legend {
  width: 165px;
  margin-left: 10px;
  font-size: 15pt;
  font-family: Roboto;
  text-align: center;
  margin-bottom: 0;
}


form button[type="submit"],
form button[type="button"] {
  background: #4527A0; 
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 5px;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #673AB7;
}


/********* ICONOS ***********/

.iconoAddAccion, .iconoSearchAccion, .iconoReactivar, .iconoCerrar, .iconoEditarAccion, .iconoEliminar {
  position: relative;
  width: 30px;
  display:block;
  margin:auto;
}

/*********** TITULO GESTION **************/
.gestion {
  top: 80px;
  left: 41%;
  position: absolute;
  color: #4527A0;
}

/*********** TABLA DATOS *****************/

.table {
  width: 98.7%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

#tablaDatos {
  position: absolute;
  top: 200px;
  left: 130px;
  width: 85%;
  height: 60%;
  overflow-y: scroll;
}

.impar {
  background-color: #D1C4E9;
  font-weight: bold;
  border: 2px solid #4527A0 !important;
}

.impar:hover {
  background-color: #B39DDB;
  font-weight: bold;
  color:  #ffffff;
}

.table-bordered {
    border: 2px solid #4527A0 !important;
}

.table thead .colFirst {
  border-left: 2px solid #4527A0 !important;
}

.table thead .colLast {
  border-right: 2px solid #4527A0 !important;
}

thead {
  background-color: #4527A0;
  color:  #ffffff;
  text-align: center;
  border: 2px solid #4527A0 !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #4527A0 !important;
}

.table-bordered th {
    border-left: 2px solid #D1C4E9 !important;
    border-top: 2px solid #4527A0 !important;
}

.table-bordered td {
    border: 2px solid #4527A0 !important;
}

.acciones {
  text-align: center;
  width: 170px;
}

.detalle, .editar, .eliminar, .reactivar {
  display: inline;
  width: 37px;
  margin-top: -10px;
  margin-left: 5px;
  margin-bottom: -5px;
}

.filasTabla {
  position: fixed;
  bottom: 16%;
  left: 86%;
  z-index: 1000;
  font-weight: bold;
  color: #4527A0;
}

/*********** TOOLTIPS CABECERA ***************/
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    font-size: 1rem;
    z-index: 900;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  font-size: 11pt;
  font-family: 'Times New Roman'; 
  background-color: #4527A0;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #4527A0;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -66px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4527A0 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.cabecera, .cabeceraEliminados {
  position:  fixed;
  top: 12%;
  left: 8%;
  width: 100%;
}

.volver {
  position: fixed;
  bottom: 10%;
  left: 1%;
  width: 100%;
}

.iconoAdd, .iconoBack, .iconoPermisos {
  width: 4em; 
  height: 4em; 
  cursor: pointer;
}

.iconoVolverAtras {
  width: 3em; 
  height: 3em; 
  cursor: pointer;
}

.iconoSearch, .iconoRefresh, .iconoSearchDelete{
  width: 3em; 
  height: 3em; 
  cursor: pointer;
}

.iconoHideShow {
  width: 2.5em; 
  height: 2.5em; 
  cursor: pointer;
}

.addIcon, .volverAtrasIcon {
  margin-left: 1.5%;
  margin-top: 1%;
}

.searchIcon {
  margin-left: 1%;
}

.searchDeleteIcon {
  margin-left: 1%;
}

.hideShowIcon {
  margin-left: 1%;
}

.refreshIcon {
  margin-left: 62%;
}

.permisosIcon {
  margin-left: 1%;
}

.backIcon {
  margin-left: 1.5%;
  margin-top: 1%;
}

#showHideColumns {
  z-index: 1010;
  position: absolute;
  margin-left: 77%;
  margin-top: 10.6%;
  background: #4527A0;
  color: #ffffff;
  width: 15.5%;
  font-size: 1.2em;
  border: 1px solid #ffffff;
  border-radius: 0.5em;
  height: 19%;
}

#showHideColumns label {
  margin-left: 4%;
}

.nombreAccionColumn, .descripAccionColumn, .idAccionColumn {
  display: inline;
}

.ordenarIconAccionName, .ordenarIconAccionDescrip, .ordenarIconIdAccion {
  margin-left: 2%;
  cursor:  pointer;
}

.iconoOrdenar {
  width: 1.3em;
}

/********* CURSORES **********/
.iconoAdd, .iconoSearch, .iconoSearchDelete, .detallePermiso, .editarPermiso, .eliminarPermiso, .reactivarPermiso {
  cursor : not-allowed;
}

/******************** PAGINACION *********/
.paginacion {
  position: absolute;
  bottom: 11%;
  left: 45%;
  z-index: 1000;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #4527A0;
  border-color: #4527A0;
}

.page-item.navegacion .page-link {
  z-index: 1;
  color: #fff;
  background-color: #7E57C2;
  border-color: #7E57C2;
}

.page-item.navegacion .page-link:hover {
  z-index: 1;
  color: #fff;
  background-color: #B39DDB;
  border-color: #ffffff;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #4527A0;
  background-color: #D1C4E9;
  border: 1px solid #4527A0;
}

.page-link:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #B39DDB;
  border-color: #ffffff;
}