@import url(http://fonts.googleapis.com/css?family=Roboto);

*{
  margin: 0px;
  padding: 0px;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

body {
  background-color: #E0F2F1;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
@media only screen and (min-width: 500px) {
  /* For mobile: */
  .col1 {width: 100%;}

  .img1 {width: 35%;}
  .img2 {margin-top: 8%; margin-bottom: 5%; width: 75%;}

  .modal {top: 15% !important}
  .modal2 {top: 15% !important}
  .modal3 {top: 15.5% !important}
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .img-s-1 {width: 25%;}
  .img-s-2 {margin-top: 3%; margin-bottom: 5%; width: 60%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .img-1 {width: 12%;}
  .img-2 {margin-top: 5%; margin-bottom: 2%; width: 27%;}

  .modal {top: 25% !important}
  .modal2 {top: 20% !important}
  .modal3 {top: 25.5% !important}

  .modal-dialog {max-width: 600px;}
}

/****** LOGIN Y REGISTRO MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #E0F2F1;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.registromodal-container, .recuperarcontrasenamodal-container {
  padding: 15px;
  max-width: 600px;
  width: 100% !important;
  background-color: #E0F2F1;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1, .registromodal-container h1,
.recuperarcontrasenamodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
  color: #004D40;
}

.loginmodal-container input[type=submit], .registromodal-container input[type=submit],
.recuperarcontrasenamodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], .loginmodal-container input[type=password],
.recuperarcontrasenamodal-container input[type=text] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #B2DFDB;
  border-top: 2px solid #80CBC4;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.registromodal-container input[type=text], .registromodal-container input[type=password] {
  height: 30px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #B2DFDB;
  border-top: 2px solid #80CBC4;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.registromodal-container select {
  height: 30px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #B2DFDB;
  border-top: 2px solid #80CBC4;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.registromodal-container input[type=date], input[type=tel] {
  height: 30px;
  font-size: 14px;
  width: 36%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #B2DFDB;
  border-top: 2px solid #80CBC4;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.registromodal-container input[type=email] {
  height: 30px;
  font-size: 14px;
  width: 59%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #B2DFDB;
  border-top: 2px solid #80CBC4;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.recuperarcontrasenamodal-container input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 59%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #B2DFDB;
  border-top: 2px solid #80CBC4;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover,
.registromodal-container input[type=text]:hover, input[type=password]:hover, 
input[type=date]:hover, input[type=tel]:hover, input[type=email]:hover, select:hover,
.recuperarcontrasenamodal-container input[type=text]:hover, input[type=email]:hover {
  border: 1px solid #4DB6AC;
  border-top: 2px solid #00897B;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal-submit, .registro-submit, .recuperarcontrasena-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #00695C;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  cursor: pointer;
}

.loginmodal-submit:hover, .registro-submit:hover, .recuperarcontrasena-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #009688;
}

.loginmodal-container a, .registromodal-container a,
.recuperarcontrasenamodal-container a {
  text-decoration: none;
  color: #009688;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.modal-dialog {
  pointer-events: visible !important;
}

form fieldset {
  width: 100%;
  border: 2px solid #004D40;
  color: #004D40;
  font-family: roboto;
  display: inline;
  padding: 0.5em;
}

form legend {
  width: 165px;
  margin-left: 10px;
  font-size: 15pt;
  font-family: roboto;
  text-align: center;
  margin-bottom: 0;
}

.dni {
  width: 36% !important;
}

.form-check-label {
    font-size: 14px !important;
}

form button[type="submit"],
form button[type="button"] {
  background: #00695C; 
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 5px;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #009688;
}

.iconoEntrar, .iconoResetPass, .iconoRegistrar {
  position: relative;
  width: 30px;
}

/********* TABS REGISTRO ***********/
.nav-tabs .nav-link.active {
    color: #00695C !important;
}

#datosPersonales, #datosUsuario {
  color: #00695C;
}

/********* DESPLEGABLE IDIOMAS *********/
#imagenIdioma {
  display: inline;
  width: 50px;
  margin-top: -12px;
  margin-left: 5px;
}

.navbar-nav {
  margin-top: 1px;
  border-radius: 5px;
  border: 2px solid #00695C;
  height: 46px;
}

.navbar-nav .nav-link {
  padding-right: 1rem; 
  padding-left: 1rem;
}

#navbardrop {
  background-color: #00695C !important;
  height: 42px;
}

.dropdown-menu {
  top: 71% !important;
  left: 94% !important;
  text-align: center !important;
  background-color: #B2DFDB !important;
  min-width: 5rem !important;
}

.dropdown-item {
  height: 30px !important;
}

.dropdown-item:hover {
  background-color: #E0F2F1 !important;
  cursor: pointer !important;
}

#btnEspanol {
  background-color: transparent;
  background-image:url(../images/Spain2.png);
  height:27px;
  width:33px;
  background-position:center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  margin-top: -1px;
  cursor: pointer;
}

#btnEspanol:hover {
  background-color: transparent;
  cursor: pointer;
}

#btnIngles {
  background-color: transparent;
  background-image:url(../images/United-Kingdom2.png);
  height:27px;
  width:33px;
  background-position:center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  margin-top: -1px;
  cursor: pointer;
}

#btnIngles:hover {
  background-color: transparent;
  cursor: pointer;
}

#btnGallego {
  background-color: transparent;
  background-image:url(../images/Galicia2.png);
  height:27px;
  width:33px;
  background-position:center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  margin-top: -1px;
  cursor: pointer;
}

#btnGallego:hover {
  background-color: transparent;
  cursor: pointer;
}

.menuIdioma {
  background-color: #00695C;
  height: 60px;
}

/********** FOOTER ************/
.footer {
  background-color: #00695C;
  height: 60px;
}

.footer div {
  color: #E0F2F1;
}

.footer a {
  color: #E0F2F1;
}