.formmodal-container p, .labelForm {
  font-family: Roboto;
  color: #311B92;
}

/********* ICONOS ***********/

.cabecera, .cabeceraEliminados {
  position:  fixed;
  top: 12%;
  left: 8%;
  width: 100%;
}

.refreshIcon {
  margin-left: 62%;
}

