@media only screen and (min-width: 320px) and (max-width : 415px) {

.refreshIcon { margin-left: 65.5% !important;}

.table {  width: 250% !important; max-width: 300% !important; }

}

@media (min-width: 1200px) and (max-width:  1299px){

#cabecera { top: 21% !important; }

.table thead tr th { width: 29% !important;}

}

@media (min-width: 1300px) and (max-width:  1900px){

#cabecera { top: 21% !important; }

.table thead tr th { width: 29% !important;}

}


.formmodal-container p, .labelForm {
  font-family: Roboto;
  color: #311B92;
}

.formmodal-container input[type=text]{
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=date] {
  height: 30px;
  font-size: 14px;
  width: 25%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/********* ICONOS ***********/

.cabecera, .cabeceraEliminados {
  position:  fixed;
  top: 15%;
  left: 6.5%;
  width: 100%;
}

.refreshIcon {
  margin-left: 73%;
}

/********** TITULO *********/
.gestion {
  left: 39%;
}