
.formmodal-container p, .labelForm {
  font-family: Roboto;
  color: #311B92;
  display:  block;
}

.formmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.formmodal-container input[type=text], 
.formmodal-container input[type=password], 
.formmodal-container input[type=email]{
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.formmodal-container input[type=date], input[type=tel] {
  height: 30px;
  font-size: 14px;
  width: 36%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=email] {
  height: 30px;
  font-size: 14px;
  width: 59%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.dni, .cif {
  width: 36% !important;
}

.formmodal-container-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4527A0;
  padding: 17px 0px;
  font-family: Roboto;
  font-size: 14px;
  cursor: pointer;
}

.formmodal-container-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #673AB7;
}


.formmodal-container p, .labelForm {
  font-family: Roboto;
  color: #311B92;
  display:  block;
}

.form-check-label {
    font-size: 14px !important;
}

.preguntasEmpresa {
    font-size: 14px !important;
}

.quitarEmpresa {
  margin-top: 20px !important;
  color:  #4527A0;
  font-family: Roboto;
}

.container {
    max-height: 350px;
}

.formularioComun h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
  color: #311B92;
}

/********* ICONOS ***********/


.cabecera {
  position:  fixed;
  top: 12%;
  left: 6%;
  width: 100%;
}

.cabeceraEliminados {
  position:  fixed;
  top: 13%;
  left: 6%;
  width: 100%;
}

.refreshIcon {
  margin-left: 65%;
}

/********* CARDS *************/ 
.card-person {
  width: 16%;
  position: fixed;
  top: 21%;
  left: 24%;
  border: 1px solid #4527A0;
  z-index: 1000;
}

.card-enterprise {
  width: 16%;
  position: fixed;
  top: 21%;
  left: 60%;
  border: 1px solid #4527A0;
  z-index: 1000;
}

.editarCard {
  display: inline;
  width: 37px;
  margin-top: -10px;
  margin-left: 230px;
}

