@media only screen and (min-width: 320px) and (max-width : 415px) {

.gestion { left: 5% !important;}

h1 { font-size: 1.5rem !important;}

#cabecera { top: 19% !important; }

.refreshIcon { margin-left: 65.5% !important;}

.table {  width: 250% !important; max-width: 300% !important; }

.table thead tr th { width: 17% !important;}

#form-modal .modal-dialog { margin: 1rem auto !important; }

#evidencia { padding-bottom: 3% !important; font-size: 14px !important; }

}

@media (min-width: 1200px) and (max-width:  1299px){

.gestion { left: 25% !important; }

.refreshIcon { margin-left: 70.5% !important;}

.table thead tr th { width: 17% !important;}

#form-modal .modal-dialog { margin: 4rem auto !important; }

.cabecera { top: 20% !important; left: 9% !important; }

}

@media (min-width: 1300px) and (max-width:  1900px){

.gestion { left: 25% !important; }

.refreshIcon { margin-left: 70.5% !important;}

.table thead tr th { width: 17% !important;}

#form-modal .modal-dialog { margin: 4rem auto !important; }

.cabecera { top: 22% !important; left: 9% !important; }

}

.formmodal-container p, .labelForm {
  font-family: Roboto;
  color: #311B92;
  display:  block;
}


.formmodal-container input[type=text], 
.formmodal-container input[type=number] {
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formmodal-container input[type=date] {
  height: 30px;
  font-size: 14px;
  width: 36%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #D1C4E9;
  border-top: 2px solid #B39DDB;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/********* ICONOS ***********/

.btn-reactivar{
  background-color: #4527A0;
  color:  #ffffff;
  text-align: center;
  border: 2px solid #4527A0 !important;
}

.cabecera {
  position:  fixed;
  top: 15%;
  left: 6%;
  width: 100%;
}

.cabeceraEliminados {
  position:  fixed;
  top: 13%;
  left: 6%;
  width: 100%;
}

.refreshIcon {
  margin-left: 74%;
}

.iconProcedimiento {
  margin-left: 291%;
  margin-top: -18%;
  width: 10%;
  cursor: pointer;
  display: inline;
}

.iconPlan {
  width: 8%;
  display: inline;
  margin-left: 3%;
  margin-top: -0.5%;
  cursor: pointer;
}

/*********** CARDS ****************/

.paddingTop {
  padding-top: 1%;
}

.procedimientos {
  width: 83%;
  height: 61%;
  position: fixed;
  top: 18%;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 5%;
  margin-left: 7%;
}

.procedimientos .card {
  background-color: #4527a0d1;
}

.card-body-plan {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5em;
  background-color: #e2d1fb;
  height: 70px;
  margin-bottom: 0.2%;
}

.card-title {
  font-family: Roboto;
  color:  #4527A0;
  margin-bottom: 0rem;
  font-size: 22px;
  font-weight: bold;
}

.card-text {
  font-family: Roboto;
  font-size: 18px;
  margin-left:  2%;
}

.card-title-plan {
  font-family: Roboto;
  color:  #4527A0;
  margin-left: -29%;
  font-size: 19px;
  display: inline;
}

.card-footer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5em;
  background-color: #efe5ff;
  height: 55px;
}

/********** TITULO *********/
.gestion {
  left: 33%;
}