@import url(http://fonts.googleapis.com/css?family=Roboto);

*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #EDE7F6;
}
/* For mobile phones: */
@media only screen and (min-width: 320px) and (max-width : 415px) {
  /* For mobile: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .img-s-1 {width: 25%;}
  .img-s-2 {margin-top: 5%; margin-bottom: 5%; width: 60%;}

  .img1 {width: 35%;}
  .img2 {margin-top: 8%; margin-bottom: 5%; width: 75%;}

  .modal {top: 15% !important}
  .modal2 {top: 15% !important}
  .modal3 {top: 15.5% !important}

  .footer {font-size: 15px;}

  .imagenLogo { width: 32px !important;}

  .bienvenida { top: 9% !important; left: 2% !important; font-size: 2.5em !important; width: 100% !important;}

  .noticias { width: 90% !important; height: 70% !important; margin-left: 5% !important;}

  .card-img-top { width: 12% !important;}

  h4 { font-size: 1.2rem !important;}

  .card-text { font-size: 0.9rem !important;}

  small { font-size: 69% !important;}

  .changePassmodal-container h1 { font-size: 1.3em !important;}

  .changePassmodal-container input[type=text] {height: 37px !important; font-size: 14px !important;}

  form button[type="submit"], form button[type="button"] { height: 39px !important;}

  .changePassmodal-container input[type=email] { height: 37px !important; font-size: 14px !important; width: 51% !important;}

  .changePassmodal-container input[type=password] {height: 37px !important; font-size: 14px !important;}
  
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .img-s-1 {width: 25%;}
  .img-s-2 {margin-top: 5%; margin-bottom: 5%; width: 60%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .img-1 {width: 12%;}
  .img-2 {margin-top: 3%; margin-bottom: 2%; width: 27%;}

  .modal {top: 25% !important}
  .modal2 {top: 20% !important}
  .modal3 {top: 25.5% !important}

  .modal-dialog {max-width: 600px;}
}

.bienvenida {
  text-align: center;
  position: fixed;
  top: 5%;
  left:  25%;
  font-size: 5em;
  width: 50%;
  font-family: Roboto;
  color:  #4527A0;
}

.noticias {
  width: 50%;
  height: 73%;
  position: fixed;
  top: 18%;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 5%;
  margin-left: 25%;
}

.noticias .card {
  background-color: #4527a0d1;
}

.card-img-top {
  width: 15%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  margin-left: 45%;
}

.card-body-news {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #e2d1fb;
}

.card-title {
  font-family: Roboto;
  color:  #4527A0;
}

.card-footer {
  background-color: #e2d1fbe8;
}